@charset "ISO-8859-1";

:root { 
	--fundo-principal: #4b4b4b; 
	--fundo-complementar-1: #222222e0; 
	--main-color: #C89DFF; 
	--cor-complementar-1: #EBCBFA;
	--cor-texto-fundo-escuro: #eee;
}
.close{
	position: absolute;
	right: 20px;
	color: var(--cor-texto-fundo-escuro);
	padding: 5px;
	font-family: 'Courier New', Courier, monospace;
	font-size: 2.4rem;
}
.botao-form{
	padding: 8px;
	font-size: 1.5rem;
	font-family: 'Courier New', Courier, monospace;
	color: var(--cor-texto-fundo-escuro);
	background-color: #00000000;
	border: 1px solid var(--cor-texto-fundo-escuro);
	margin: 18px;
	/*margin-left: calc(50% - (11 * 1.5rem / 2.5));*/
}
.icon-ajustes{
	height: 50%; 
	margin: 3rem
}
.modal-new-pasta{
	display: flex;
	position: relative;
	width: 50vw;
	min-height: 10vh;
	background-color: var(--fundo-complementar-1);
	padding: 12px;
	left: calc(50% - 25vw);
}
.form-new-pasta{
	color: var(--cor-texto-fundo-escuro);
	width: 100%;
	text-align: center;
}
.label-input{
	text-align: left;
	font-size: 1.7rem;
	width: 90%;
	display: block;
	margin: 10px auto;
}
.input-nome-pasta{
	width: 70%;
	margin: 0 auto;
	padding: 8px;
}
.wallpaper{
	max-height: 50%;
	margin: 5% auto;
	display: block;
}
header {
	background-color: var(--main-color);
	padding: 10px;
	margin-bottom: 30px;
}

body, html {
	background-color: var(--fundo-principal);
	overflow-x: hidden;
}

main {
	padding-top: 15px;
}

.head-content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.icon {
	max-width: 100%;
	max-height: 100%;
	min-width: 100%;
}

.icon:hover {
	cursor: pointer;
}

.icon-cntainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.menu-icon {
	width: 120px;
	height: 120px;
	margin: 0 auto;
}

.text-icon {
	font-size: 2rem;
	text-align: center;
	width: 100%;
}

.botao-icon {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	height: 100%;
	width: 6rem;
}

.option {
	width: 70%;
	border-radius: 15px;
	height: 280px;
	background-color: var(--cor-complementar-1);
	margin: 40px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.option:hover {
	cursor: pointer;
}

.rodape {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.propaganda-pra-ficar-rico {
	width: 60%;
	margin: 0 auto;
	height: 200px;
	background: url('../img/ads/ifood_ad.jpg') no-repeat;
	background-size: cover;
}

ul {
	display: flex;
	flex-wrap: wrap;
}

li {
	list-style: none;
	text-align: center;
	padding: 10px;
	border: 1px solid #eee;
	color: #eee;
	width: 90%;
	font-size: 2.5rem;
}

.side-menu {
	background-color: var(--fundo-complementar-1);
	position: absolute;
	width: 70vw;
	height: 100%;
	z-index: 10;
	transition: .4s;
}

.head-side-menu {
	padding: 40px;
	padding-bottom: 60px;
}

.ajuste{
	width: 100%;
    height: 280px;
    background-color: var(--fundo-complementar-1);
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid white;
    color: #eee;
	height: 15vh;
	width: 100%;
	font-size: 2.5rem;
}
.checkbox{
    width: 40%;
    height: 40%;
}
.ajuste-bottom{
    margin-bottom: 30px;
    width: 100%;
    height: 280px;
    background-color: var(--fundo-complementar-1);
   
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
}